<main class="flex flex-col items-center justify-center flex-grow text-center">
  <h1 class="text-5xl font-bold text-primary font-logo">GENEARENA</h1>
  <p class="text-3xl mt-6">テキストを作り<br>戦術を選び<br>勝利をつかめ！</p>
  <p class="text-base text-gray-600 mt-6 max-w-lg">
    GENEARENAは、言葉ひとつでキャラクターを生み出し、バトルで使うスキルを選んで挑むシンプルなゲーム。選んだ技が勝利へのカギを握り、戦いの物語を紡ぎます。最強の相棒とアリーナを制覇せよ！
  </p>
  <p class="text-sm text-gray-500 mt-4">※ご利用にはGoogleアカウントへのログインが必要です</p>
  <%= button_to "/auth/google_oauth2", method: :post, data: { turbo: false }, class: "btn btn-primary mt-4 text-lg flex items-center" do %>
    <%= image_tag "https://developers.google.com/identity/images/branding_guideline_sample_lt_rd_sl.svg", class: "h-7" %>
    <span>Googleアカウントでログイン</span>
  <% end %>  
</main>
